
.Server-Log,
.Log,
.Log:cell-selection,
.Log:selected,
.Log:focused {
    -fx-background-color: black;
}

.info_Log {
    -fx-text-fill: white;
}

.system_Log {
    -fx-text-fill: green;
}

.error_Log {
    -fx-text-fill: red;
}